<h2><%= @question.content %></h2>

<% if @question.question_type == "blank" %>
  <p>Blank question</p>
<% elsif @question.question_type == "simple_choice" %>
  <p>Simple choice question</p>
<% else %>
  <p>Plural choice question</p>
<% end %>

<ul class="list-group">
  <% @question.answers.each do |answer| %>
    <li class="list-group-item"><%= answer.content %></li>
  <% end %>
</ul>
