.card-container-favorites {
  display: flex;
  flex-wrap: wrap;
}

.banner-favorites{
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
  width: 100%;
  color: white;
  font-size: 40px;
  background-color: #B67A82;
  height: 90px;
  margin-bottom: 30px;
}

.title-favorites{
  padding-top: 20px;
}

.destroy-button{
  position: absolute;
  top: 28px;
  left: 30px;
}

.btn-destroy{
  color: #B67A82;
}
