.card-bottle-index {
  background-color: white;
  box-shadow: 0 0 5px rgb(40, 40, 40);
  border-radius: 5px;
  margin: 10px;
  padding: 30px;
  height: 370px;
  width: 230px;
  .img-bottle-index{
    img{
      height: 200px;
      margin-right: 0px;
      margin-bottom: 30px;
    }
  }
  h2 {
    text-decoration: none;
    font-size: 16px;
    color: rgb(30, 30, 30);
  }
  p {
    font-size: 10px;
    font-style: italic;
    color: rgb(30, 30, 30);
  }
  .card-bottle-index-img {
    display: flex;
    justify-content: space-around;
  }
  .card-footer-country-year{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    p {
      font-size: 10px;
      font-style: normal;
    }

  }
  &:hover {
    opacity: 0.7;
    transition-duration: 0.2s;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}


// .container-filters {
//   text-align: left;
//   margin-right: 100px;
//   p {
//     font-size: 10px;
//     color: black;
//     opacity: .7;
//     text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//     margin-top: 3px;
//     margin-bottom: 1px;
//   }
// }

.flex-container {
  display: flex;
  justify-content: space-between;
}

.container-filters {
  padding-right: 30px;
  width: 300px;
  padding-right: 10px;
  a {
    color: #b67a82;
    text-decoration: none;
  }
}

.btn-submit {
  padding: 10px;
}

.submit {
  background-color: #B67A82;
  color: white;
  padding: 5px;
}
