.card-bottle-index {
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  height: 400px;
  width: 230px;
  position: relative;
  .img-bottle-index{
    img{
      height: 200px;
      margin-right: 0px;
      margin-bottom: 30px;
    }
  }
  h2 {
    text-decoration: none;
    font-size: 20px;
    color: #B67A82;
  }
  p {
    font-size: 12px;
    font-style: italic;
    color: rgb(30, 30, 30);
  }
  .card-bottle-index-img {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
  }
  .card-footer-country-year{
    height: 20px;
    justify-content: space-between;
    font-weight: 700;
    p {
      font-size: 10px;
      font-style: normal;
    }
    .card-bottle-year{
      position: absolute;
      right: 20px;
      bottom: 0px;
    }
    .card-footer-country{
      position: absolute;
      left: 20px;
      bottom: 0px;
    }
  }
  &:hover {
    opacity: 0.7;
    transition-duration: 0.2s;
  }
  .card-bottle-button{
    float: right;
    height: 20px;
    margin-bottom: 15px;
  }
  .card-bottle-domain-appelation{
    height: 60px;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-body {
  background-color: rgb(244, 244, 244);
  border: none;

  label {
    color: rgb(100, 100, 100);
    font-size: 12px;
  }
  input {
    border: 0px;
    &:checked{
      color: green;
    }
  }
}

// .container-filters {
//   text-align: left;
//   margin-right: 100px;
//   p {
//     font-size: 10px;
//     color: black;
//     opacity: .7;
//     text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//     margin-top: 3px;
//     margin-bottom: 1px;
//   }
// }

.flex-container {
  display: flex;
  justify-content: space-between;
}

.container-filters {
  padding-right: 30px;
  width: 300px;
  padding-right: 10px;
  a {
    color: #b67a82;
    text-decoration: none;
  }
}

.btn-submit {
  padding: 10px;
}

.submit {
  background-color: #B67A82;
  color: white;
  padding: 5px;
}

.bottle-domain {
  color: #B67A82;
}

.btn-modal-index{
  img {
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.btn-submit-red{
  padding: 8px 22px;
}

.btn-searchbar{
  padding: 6px 25px 6px;
}

.label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  input{
    position: absolute;
    // display: hidden;
    // opacity: 0;
    cursor: pointer;
    // height: 0;
    // width: 0;
    left: 0px;
    height: 20px;
    width: 20px;
    &:checked ~.checkmark{
      background-color: #B67A82;
      &:after{
        // display: block;
        // left: 9px;
        // top: 5px;
        // width: 5px;
        // height: 10px;
        // border: solid white;
        // border-width: 0 3px 3px 0;
        // -webkit-transform: rotate(45deg);
        // -ms-transform: rotate(45deg);
        // transform: rotate(45deg);
      }
    }
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  &:checked{
    content: "";
    position: absolute;
    display: none;
    background-color: green;
  }
}

.index-bottles-container{
  margin-top: 130px;
}
