// Specific CSS for your home-page
.home-banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 700px;

  h1 {
    margin: 0 auto;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    width: 685px;
    padding-left: 80px;
  }

  h3 {
    color: white;
    margin-top: 40px;
    font-size: 15px;

  }

  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin-top: 15px;
    margin-bottom: 40px;
  }
}

.home-cards-container {
    text-align: center;

  .typed-title {
    margin-left: 30%;
    text-align: left;
    width: 690px;
  }


  .home-first-title {
    font-size: 37px;
    margin-top: 85px;
  }

  .home-second-title {
    font-size: 37px;
    margin-bottom: 60px;
  }

  .browse {
    margin-top: 20px;
    font-size: 14px;
  }

}

.link-quiz {
  color: white;
  text-decoration-line: underline;

  &:hover {
    color: white;
    text-decoration: none;
  }

}





