
.container-show-profile {
  background-color: #B67A82;
  margin-top: 75px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}


.user-preferences {
  text-align: center;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}

.user-profile-color {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  &.rose {
    background-color: $rose;
  }
  &.red {
    background-color: $red;
  }
  &.white {
    background-color: $white-wine;
  }
  &.port {
    background-color: $port;
  }
  &.sweet {
    background-color: $sweet;
  }
  &.sparkling {
    background-image: asset-url("profile-icon-sparkling.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.user-profile-aroma {
  &.preference-icon{
    object-fit: contain;
  }
}

.user-preferences {

  p {
    margin-top: 16px;
  }
}

.avatar-preference-icon {
  width: 80px;
  height: 80px;
  background-color: white;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preference-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}


.flat-bar {
  width: 150px;
  height: 2px;
  border-top: 50px;
  border-width: 50px;
  background-color: white;
}

.card-container {
  margin-top: -75px;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}

.aroma-img {
  height: 50px;
}

.grape-img {
  height: 50px;
}

.meal-img {
  height: 50px;
}

.user-profile-grape {
  padding: 20px;
  width: 120px;
  height: 160px;
}

.user-profile-aroma {
  padding: 20px;
}

.user-profile-color-container {
  padding: 20px;
}

.user-profile-meal {
  padding: 20px;
}

.user-profile-management {
  padding: 20px;
}

