.form-quiz {
  // background: white;
  margin-top: 58px;
  margin-bottom: 80px;
  padding: 20px;
  border-radius: 5px;
  justify-content: center;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .row {
    margin-left: 0px;
  }
  label {
    color: rgb(30, 30, 30);

  }
  p {
    margin: 0 auto;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    width: 685px;
    padding-left: 80px;
    margin-bottom: 40px;

  }
  .form-check {
    padding-left: 0px;
  }
}

// .user_answer_question_personnality {
//   display: flex;
// }

.grouped-choices {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px 0;
}

.grouped-choices .form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 2px solid $green;
  color: black;
  opacity: 1;
  border-radius: 5px;
  flex: 0 0 33%;
  width: 30rem;
  height: 5rem;


  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  &.active {
  background: $green;
  color: white;
  opacity: 1;
  }
}

.grouped-choices .form-group label {
  display: block;
  vertical-align: center;
  margin-bottom: 0;
}

.grouped-choices .form-group input {
    visibility: hidden;
    position: absolute;
}

.btn-submit-quiz {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.dependent-group {
  display: none;
}

.dependent-group-leveltwo {
  display: none;
}

.dependent-group-level-three-colours {
  display: none;
}

.btn-to-hide {
  display: none;
}

.btn-false-link {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 65px;
}

.false-link{
  display: flex;
  justify-content: space-around;
}

.button-back {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
