.form-post {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
}

.user_answer_question_personnality {
  display: flex;
}

.personnality-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.personnality-choices .form-group {
  background: #b7b7b7;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $green;
  color: white;
  opacity: 1;
  }
}

.personnality-choices .form-group label {
  display: block;
  padding: 20px;
}

.personnality-choices .form-group input {
  display: none;
}

