.container {
  margin-top: 100px;
  padding: 0px 20px 0px 20px;
  margin-bottom: 30px;
}

.product-info {
  padding-left: 20px;
  margin-left: 3em;
}

.container-show-bottle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.bottle-info {
  text-align: center;
  margin-top: 40px;
}

.bottle-infos-show {
  display: flex;
  justify-content: space-around;
}

.subcontainer-show-bottle {
  height: 500px;
  margin-left: 40px;
  margin-top: 80px;
}

.feedbacks {
  margin-bottom: 30px;
}

.show-buttons {
  margin-bottom: 30px;
}


