.btn {
  background-color: white;
  color: $green;
  border-radius: 5px;
  padding: 8px 12px;
  border: solid 1px $green;

  &:hover {
    transition-duration: 0.3s;
    background-color: $green;
    color: white;
  }
}

.btn-quiz {
    padding: .75em 2em;
    border-radius: 40px;
    font-size: 18px;
    background-color: #B67A82;
    color: white;
    border: solid 1px #B67A82;
    text-decoration: none;

&:hover {
    transition-duration: 0.3s;
    background-color: white;
    color: #B67A82;
    text-decoration: none;
  }
  }

.btn_show {
  background-color: white;
  color: #B67A82;
  border-radius: 5px;
  padding: 8px 12px;
  border: solid 1px #B67A82;

  &:hover {
    transition-duration: 0.3s;
    background-color: #B67A82;
    color: white;
    text-decoration: none;
  }
}

.btn-red{
  padding: 7px 25px 7px;
  border-radius: inherit;
  background-color: #b67a82;
  border: solid 1px #b67a82;
  color: white;
  border-radius: 5px;
  &:hover {
    background-color: white;
    color: #b67a82;
    transition-duration: 0.3s;
  }
}
