.card-category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
  }

  .cards {
    display: flex;

}



.card-category p{
  color: black;
  font-size: 15px;
}
