<div class="banner-favorites">
  <h1 class='title-favorites'>Your bottles</h1>
</div>
<div class="container">
  <div class="card-container-favorites cards">
    <% @user_favorites.each do |user_favorite| %>
      <%= render 'shared/bottles-cards', bottle: user_favorite.bottle %>
    <% end %>
  </div>
</div>
<% @user_favorites.each do |user_favorite|  %>
  <%= render 'shared/modalshow', bottle: user_favorite.bottle, user_favorite: user_favorite %>
<% end %>


